.editor {
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    padding: 15px;
}

.my-button {
    margin-top: 20px !important;
}

.error {
    border-color: #db2828 !important;
}

.green {
    color: #21ba45;
}